@charset "UTF-8";

h1 {
	color: #244289;
	font-family: Arial Narrow, sans-serif;
	font-size: 50px;
	max-height: 70px;
	margin: 10px;
}

#pic {
	max-height: 150px;
}

#pic2 {
	max-height: 100px;
}

table {
	width: 75%;
	border: 2px solid black;
}

thead, tbody {
	height: 100px;
	width: 100%;
	text-align: center;
}

td {
	border: 1px solid black;
	width: 125px;
}